.card-top {
  height: 150px;
  display: flex;
}

.card-top-img {
  height: 100%;
  width: 50%;
  margin-right: 30px;
  border-radius: 8px;
}

.card-reviews {
  color: gold;
}

.card-middle {
  width: 100%;
  height: 75px;
  margin: 16px 0;
}

.card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-bottom img {
  width: 30%;
}

.card-container {
  margin-top: 20px;
  padding: 8px;
  width: 600px;
  background-color: white;
  border-radius: 4px;
}
